body {
  display: block;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: #060301;
  color: #f0eef3;
}

.content {
  width: calc(100% - 240px);
  max-width: 1400px;
  margin: 0 auto;
  
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.heading h1 {
  font-size: 4vw;
  margin: 0;
}

.heading p {
  font-size: 2vw;
  margin: 0;
}

.not-intro .heading {
  margin: 111px 0;
}

.subtitle {
  color: #ee5e07;
  white-space: nowrap;
}

@media screen and (max-width: 980px) {
  .heading h1 {
    font-size: 40px;
  }
  .heading p {
    font-size: 22px;
  }
}

@media screen and (max-width: 750px) {
  .heading h1 {
    font-size: 30px;
  }
  .heading p {
    font-size: 22px;
  }
  .content {
    width: calc(100% - 200px);
  }
  .animation-container {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 580px) {
  .subtitle {
    white-space: normal;
  }
}

@media screen and (max-width: 430px) {
  .content {
    width: calc(100% - 111px);
  }
}

@media screen and (min-width: 1920px) {
  .heading h1 {
    font-size: 75px;
  }
}

.copy {
  border-left: 3px solid #ee5e07;
  padding-left: 11px;
  overflow: hidden;
}

.slideIn {
  animation-name: slideIn;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  transform: translate(-104%);
}

@keyframes slideIn {
  from {
    transform: translate(-104%);
  }
  to {
    transform: translate(0);
  }
}

.openEqually {
  animation-name: openEqually;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
  transform: scaleY(0);
}

@keyframes openEqually {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
 from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}


/* Nav */
.nav {
  position: fixed;
  width: 120px;
  top: 0;
}

.nav ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: inline-block;
  margin: 11px 0;
}

.nav a {
  color: white;
  text-decoration: none;
  padding-left: 5px;
  border-left: 2px #060301 solid;
  background: none;
}

.animation-container {
  overflow: hidden;
  padding-left: 5px;
}

li a {
  display: flex;
  align-items: center;
  max-height: 1em;
}

li p {
  visibility: hidden;
}

li i {
  padding-right: 5px;
}

@media screen and (min-width: 431px) {

  li:hover i {
    border-right: 2px #ee5e07 solid;
  }

  li:hover p {
    animation-name: fromLeft;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    visibility: visible;
  }

  @keyframes fromLeft {
  from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}


/* Portfolio */

.portfolio-items .container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.portfolio-items .container + .container {
  margin-top: 100px;
}

.portfolio-items .portfolio-image {
  width: 50%;
}

.portfolio-items .portfolio-image img {
  width: 100%;
  border-radius: 11px;
}

.portfolio-items .portfolio-content {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: baseline;
  margin: 0 30px;
}

.portfolio-items .portfolio-content h3 {
  margin: 0.5em 0;
}

.portfolio-items .portfolio-content p {
  margin: 0.5em 0;
}

.portfolio-items .button {
  border: 2px #ee5e07 solid;
  color: #fbf9ff;
  border-radius: 11px;
  font-weight: 700;
  padding: 11px;
  text-align: center;
  text-decoration: none;
}

.portfolio-items .button:hover {
  background: #ee5e07;
  color: #000;
}

.not-intro .heading {
  border-left: 2px solid #ee5e07;
  padding-left: 11px;
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
}

input + label {
  margin-top: 22px;
}