body {
  display: block;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: #060301;
  color: #f0eef3;
}

.content {
  max-width: 1920px;
  margin: 0 11%;
}

.index .heading {
  margin: 11% 0;
}

.portfolio .heading {
  margin: 5.5% 0;
}

.heading h1 {
  font-size: 4vw;
  margin: 0;
}

.subtitle {
  color: #ee5e07;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 350px;
  margin: 0;
  font-weight: 700;
  padding: 11px 0 0 0;
}

.nav ul li {
  display: inline-block;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 2px #ee5e07 solid;
}

.heading p {
  font-size: 2vw;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .heading h1 {
    font-size: 26px;
  }
  .heading p {
    font-size: 13px;
  }
}

@media screen and (min-width: 1920px) {
  .heading h1 {
    font-size: 80px;
  }
}

.copy {
  border-left: 3px solid #ee5e07;
  padding: 0.5% 1%;
  overflow: hidden;
}

.slideIn {
  animation-name: slideIn;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  transform: translate(-100%);
}

@keyframes slideIn {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}

.openEqually {
  animation-name: openEqually;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
  transform: scaleY(0);
}

@keyframes openEqually {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.flickerIn {
  animation-name: flickerIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes flickerIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}









/* Portfolio */

.portfolio-items {
  display: flex;
}

.portfolio-items .container {
  display: flex;
  flex-direction: column;
  margin: 0 22px;
  width: 50%;
}

.portfolio-items .portfolio-content {
  flex-grow: 1;
}

.portfolio-items .button {
  background-color: #351694;
  border-radius: 11px;
  color: #fbf9ff;
  font-weight: 700;
  padding: 11px;
  text-align: center;
  text-decoration: none;
}

.portfolio-items .button:hover {
  background-color: #4621b9;
}
